body { 
    background-color: #ffffff;
    font-family: 'Assistant', sans-serif;
    color: #071C4D;
}

//navbar
.navbar-brand {
    img {
        max-height: 40px;
    }
}

.navbar-light {
    .navbar-nav {
        .nav-link {
            color: #071C4D;

            &.active {
                font-weight: bold;
                color: #071C4D;
            }
        }
    }
}

.btn-navbar-right {
    margin-top: -10px!important;
    margin-bottom: -8px!important;
    margin-right: -18px!important;

    height: 70px;
    border-radius: 0;
}

.btn-login {
    background-color: #071C4D;
    color: #fff;

    &:hover {
        background-color: #1E3771;
        color: #fff;
    }
}

//header
header {
    margin-top: -70px;
    background-image: url('../images/header.jpg');
    background-size: cover;
}

.transbox {
    background-color: rgba(0, 0, 0, 0.35);
    padding: 180px 0px 165px;

    h1, p {
        color: #fff;
    }

    h1 {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 50px;
    }

    p {
        font-size: 22px;
    }

    .btn-get-started {
        background-color: #FF9E53;
        color: #fff;

        &:hover {
            background-color: #FFAA69;
        }
    }
}

//statistics
.section-stats {
    margin-top: -50px;
    
    .stats-detail {
        padding-top: 15px;
        background-color: #fff;
        padding-left: 50px;
    }

    h2 {
        font-size: 30px;
        margin-bottom: 0;
    }

    p {
        font-size: 20px;
        font-weight: lighter;
    }
}

//popular
.section-popular {
    min-height: 540px;
    background-color: #051334;
    margin-top: -50px;
    margin-bottom: -230px;

    .section-popular-heading{
        margin-top: 150px;
        min-height: 380px;
        h2,p {
            color: #fff;
        }

        h2 {
            font-family: 'Playfair Display', serif;
            font-weight: bold;
            font-size: 40px;
        }

        p {
            font-size: 18px;
        }
    }

}

.section-popular-content{
    .section-popular-travel{
        .card-travel {
            background-color: #000;
            color: #fff;
            
            background-size: cover;
            margin-bottom: 20px;

            
        }

        
    }    
}

.transbox-travel {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgb(0, 0, 0, 0));
    min-height: 380px;
    padding: 30px;

    .travel-country {
        font-size: 18px;
        color: #fff;
    }

    .travel-location {
        font-size: 26px;
        color: #fff;
    }

    .travel-button {
        .btn-travel-details{
            background-color: #FF9E53;
            color: #fff;

            &:hover {
                background-color: #FFAE6F;
            }
        }
    }
}

//partner
.section-networks {
    background-color: #fff;
    margin-top: -170px;
    padding-top: 240px;
    padding-bottom: 50px;

    h2 {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 40px;
    }

    p {
        font-size: 18px;
    }

    img {
        max-width: 100%;
    }
}

//testimonial
.section-testimonial-heading {
    background: linear-gradient(#fff 0%, #f7f9ff 100%);
    padding-top: 50px;
    min-height: 506px;

    h2 {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 40px;
    }

    p {
        font-size: 18px;
    }
}

.section-testimonial-content {
    margin-top: -300px;
    padding-bottom: 50px;

    .card-testimonial {
        padding: 40px 20px 10px;
        border-radius: 11px;
        margin-bottom: 20px;

        .testimonial-content {
            min-height: 380px;
    
            img {
                height: 120px;
                width: 120px;
                object-fit: cover;
            }
        }
    
        h3 {
            font-size: 22px;
        }

        .testimonial {
            font-weight: 200;
            font-size: 26px;
            color: #6e6e6e;
            min-height: 160px;
        }
    
        .trip-to {
            font-weight: normal;
            font-size: 22px;
            color: #6e6e6e;
        }
    
        hr {
            margin-left: -20px;
            margin-right: -20px;
        }
    }

    .btn-get-started {
        background-color: #FF9E53;
        color: #fff;
    
        &:hover {
            background-color: #FFAA69;
        }
    }
    
    .btn-need-help {
        background-color: #F2F2F2;
        color: #C3C3C3;
    
        &:hover {
            background-color: #FAFAFA;
        }
    }
}

.section-footer {
    a {
        color:#071C4D;
    }
}


.section-details-header {
    min-height: 310px;
    background: #E4E6EB;
    margin-top: -70px;
}

.section-details-content {
    margin-top: -210px;
    min-height: 100vh;

    .breadcrumb {
        background-color: transparent;
        margin-bottom: 30px;
    }

    .breadcrumb-item {
        &.active {
            font-weight: bold;
            color: #071C4D;
        }
    }

    .card-details {
        padding: 30px;
        border-radius: 11px;

        h1 {
            font-size: 26px;
        }

        h2 {
            font-size: 20px;
        }

        p {
            font-size: 18px;
            color: #B1B1B1;
        }

        h3 {
            font-weight: 300;
            font-size: 14px;
        }

        .trip-informations {
            th {
                font-weight: 300;
                font-size: 18px;
                color: #071C4D;
            }

            td {
                font-weight: 300;
                font-size: 18px;
                color: #B1B1B1;;
            }

            .text-blue {
                color: #071C4D;
                font-weight: bold;
            }

            .text-orange {
                color: #FF9E53;
                font-weight: bold;
            }
        }

        .payment-instructions{
            font-weight: 300;
            font-size: 14px;
            color: #B1B1B1;
        }
        
        .bank {
            .bank-item {
                h3 {
                    font-size: 18px;
                    margin-bottom: 0;
                }

                p {
                    margin-bottom: 0;
                }

                .description {
                    margin-left: 10px;
                    overflow: hidden;
                    float: left;

                    p {
                        color: #071C4D;
                        font-weight: normal;
                        font-size: 16px;
                    }
                }
            }

            .bank-image {
                width: 45px;
                height: 45px;
                float: left;
            }
        }

        .disclaimer {
            font-weight: 300;
            font-size: 14px;
            color: #B1B1B1;;
        }

        .attendee {
            img.avatar {
                border-radius: 50%;
                height: 60px;
                width: 60px;
                object-fit: cover;
            }
        }

        .gj-datepicker {
            .datepicker {
                border-right: 0;
            }

            .btn {
                padding-right: 30px;
                border: 1px solid #ced4da;
                border-left: 0!important;
            }

        }

        .btn-add-now {
            background-color: #071C4D;
            color: #fff;

            &:hove {
                background-color: #1B3B86;
            }
        }

        
    }

    .card-right {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: 0;
    }

    .features {
        margin-top: 20px;

        h3 {
            font-size: 18px;
            color: #071C4D;
            margin-bottom: 0;
        }

        p {
            margin-bottom: 0;
        }

        .description {
            margin-left: 10px;
            overflow: hidden;
            float: left;
        }

        .features-image {
            width: 45px;
            height: 45px;
            float: left;
        }
    }

    .gallery {
        .xzoom-container {
            display: block;
            width: 100%;
            height: 300px;
            object-fit: cover;
            .xzoom {
                max-height: 280px;
                box-shadow: none;
                margin-bottom: 10px;
            }
        }

        .xzoom-thumbs {
            img {
                width: 120px;
                height: 80px;
                object-fit: cover; 
                object-position: 100% 40%;
            }
            .xactive {
                border: 4px solid #1ABC9C!important;
                box-shadow: none;
            }
        }
    }

    .members {
        .member-image {
            width: 40px;
            height: 40px;
            object-fit: cover;
        }

    }

    .join-container {
        margin-top: -16px;
    }

    .btn-join-now {
        background-color: #FF9E53;
        color: #fff;
        border-radius: 0;

        &:hover{
            background-color: #FFB57C;
        }
    }
}

.section-success {
    height: 90vh;

    h1 {
        font-weight: 600;
        font-size: 26px;
    }

    p {
        font-weight: 300;
        font-size: 18px;
        color: #B1B1B1;
    }

    .btn-homepage {
        border-radius: 4px;
        background-color: #071C4D;
        color: #fff;


        &:hover {
            background-color: #2A488E;
        }
    }
}
